<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form action="#" th:action="@{/admin/create}" th:object="${user}" method="post">
    <label for="firstName">Username</label>
    <input type="text" th:field="*{username}" id="firstName" placeholder="Username">
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <br/>
<!--    <tr>-->
<!--        <td>-->
<!--            <label>Roles:-->
<!--                <select size="2" multiple name="listRoles" required="required">-->
<!--                    <option selected="selected" value="2">USER</option>-->
<!--                    <option value="1">ADMIN</option>-->
<!--                </select>-->
<!--            </label>-->
<!--        </td>-->
<!--    </tr>-->
<!--    <label for="roles">Roles</label>-->
<!--    <input type="text" th:field="*{roles}" id="roles" placeholder="Roles">-->
<!--    <label>-->
<!--        <select multiple size="2" th:name="roles" th:field="*{roles}">-->
<!--            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>-->
<!--        </select>-->
<!--    </label>-->
<!--    <td th:each="role : ${roles}">-->
<!--        <div>-->
<!--            <input type="checkbox" th:name="${role}" th:checked="${#lists.contains(user.roles, role)}"-->
<!--            th:utext="${role}">-->
<!--        </div>-->
<!--    </td>-->
    <p>
        <label>Roles
        <input type="checkbox" name="roleList"
        th:each="rol : ${roleList}"
        th:text="${rol.getNoPrefix()}"
        th:value="${rol.role}"
        th:field="*{roles}"
        />
        </label>
    </p>
    <br/>
    <input type="submit" value="Create User">
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>