<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <!--    <meta charset="UTF-8">-->
    <title>index2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <script type="text/javascript" src="webjars/jquery/2.2.3/jquery.min,js"></script>-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">


</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" id="name_navbar"></a>
        <div class="nav ml-auto">
            <a th:href="@{/logout}" method="post">Logout</a>
        </div>
    </nav>
</header>

<div class="row vh-100">
    <div class="col-2">
        <nav class="nav nav-pills flex-column">
            <a id="usertabl" class="nav-link" href="/admin">Admin</a>
            <a class="nav-link nav-item action" role="tab" data-toggle="tab" href="#">User</a>
        </nav>
    </div>


<div class="col-10 bg-light px-5">
<!--        <div th:switch="${users}">-->
<!--            <h2 th:case="null">No users found!</h2>-->
<!--            <div th:case="*">-->
    <div class="row" >
        <div class="col-lg">
            <div id="us_tab"></div>
            <div id="tabl_div">

                        <h2>Admin panel</h2>

                        <nav>
                            <div class="nav nav-tabs" id="myTab" role="tablist">
                                <a class="nav-item nav-link active" id="ad_pan" href="#admin_panel" role="tab" data-toggle="tab">admin panel</a>
                                <a class="nav-item nav-link" id="tabCreat" data-toggle="tab" href="#homeCreate" role="tab">Create</a>
                            </div>
                        </nav>


                        <div class="tab-content">



                            <div class="tab-pane fade" id="homeCreate" role="tabpanel" aria-labelledby="home-tab">
                                <div class="pl-3 pt-1 d-flex border-bottom">
                                    <h4>add new user</h4>
                                </div>
                                <div class="container-fluid border border-gray-500 bg-white">
                                    <form class="formCreate">
<!--                                    <form th:action="@{/admin/create}" method="post">-->

                                        <div class="row justify-content-center">
                                            <div class="form-group">
                                                <div class="text-center">Username</div>
                                                <input type="text" id="usernameCreate"  class="form-control" placeholder="Enter Username"/>
                                            </div>
                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="form-group">
                                                <div class="text-center">Password</div>
                                                <input type="text" id="passwordCreate" class="form-control" placeholder="Enter Password"/>
                                            </div>
                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="form-group">
                                                <div class="col-sm-6 container text-center">Email</div>
                                                <input type="text" id="emailCreate" class="form-control" placeholder="Enter Email"/>
                                            </div>
                                        </div>

                                        <div class="col text-center">Role</div>
                                        <div class="row justify-content-center">
                                            <div class="col-3" id="selector">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12 container text-center">
                                                <button type="submit" class="btn btn-primary mt-3 btnCreate">Create User</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

<!--                            <div class="tab-content">-->
                            <div class="tab-pane fade show active border" id="admin_panel" role="tabpanel" aria-labelledby="home-tab">
                                <div class="pl-3 pt-1 d-flex border-bottom"><h5>All users</h5></div>
                                <table class="table table-striped table-bordered" id="tablusers">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>user name</th>
                                        <th>password</th>
                                        <th>email</th>
                                        <th>roles</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbod"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="adMod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/admin/update}" method="POST">
        <--                        class="form-signin mx-auto font-weight-bold text-center">-->
        <div class="modal-dialog" role="document">
            <div class="modal-content justify-content-center">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">edit user</h4>
                    <button class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="username" class="col text-center"><b>username</b></label>
                        <input type="text" class="form-control" name="username" id="username">
                        <!--                               th:value="${user.username}">-->
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6 container text-center">ID</div>
                        <input readonly type="number" class="form-control" th:name="id" id="id2">
                        <!--                               th:value="${user.id}">-->
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6 container text-center">Email</div>
                        <!--    <div class="col-sm-auto">-->
                        <input type="text" th:name="email" id="email2" class="form-control">
                        <!--                               th:value="${user.email}">-->
                        <!--    </div>-->
                    </div>

                    <div class="form-group">
                        <div class="col text-center">Password</div>
                        <!--    <div class="col">-->
                        <input type="text" th:name="password" id="passw2" class="form-control">
                        <!--                               th:value="${user.password}">-->
                        <!--    </div>-->
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="editMod" tabindex="-1" role="dialog" aria-labelledby="editMod" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title text-center">delete user</h4>
                <button class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <form class="modal-edit">
<!--                    <div class="form-group">-->
                        <div class="text-center">ID</div>
                        <!--    <div class="col-sm-auto">-->
                        <input readonly type="number" class="form-control" name="id" id="idFormEdit">

                        <label for="username" class="col text-center"><b>username</b></label>
                        <input type="text" class="form-control" name="username" id="usernameFormEdit" placeholder="Enter Username">

                        <label for="username" class="col text-center"><b>emil</b></label>
                        <input type="text" class="form-control" name="username" id="emailFormEdit">

                        <label for="username" class="col text-center"><b>password</b></label>
                        <input type="text" class="form-control" name="username" id="passwordFormEdit">

                        <div class="text-center">Role</div>
                            <div id="selectorEdit"></div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="submitEdit" class="btn btn-primary">edit</button>
            </div>
        </div>
    </div>
</div>

<div class="myFormModal">
    <div class="modal fade" id="neMod" tabindex="-1"
         role="dialog" aria-labelledby="myFormModal"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content justify-content-center">
                <div class="modal-header text-center">
                    <h4 class="modal-title text-center">delete user</h4>
                    <button class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <form class="modal-delete">
                        <div class="form-group">
                            <div class="text-center">ID</div>
                            <!--    <div class="col-sm-auto">-->
                            <input readonly type="number" class="form-control" name="id" id="idForm">

                            <label for="username" class="col text-center"><b>username</b></label>
                            <input type="text" class="form-control" name="username" id="usernameForm" placeholder="Enter Username">

                            <label for="username" class="col text-center"><b>emil</b></label>
                            <input type="text" class="form-control" name="username" id="emailForm">

                            <label for="username" class="col text-center"><b>password</b></label>
                            <input type="text" class="form-control" name="username" id="passwordForm">

                            <label for="username" class="col text-center"><b>role</b></label>
                            <input type="text" class="form-control" name="username" id="roleForm">

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="submitDelete" class="btn btn-primary">remove</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script type="text/javascript" src="main.js" th:src="@{main.js}"></script>
<!--<script th:src="@{main.js}"></script>-->
</body>
</html>