<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
<!--    <meta charset="UTF-8">-->
    <title>Users</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <script type="text/javascript" src="webjars/jquery/2.2.3/jquery.min,js"></script>-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">


</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand"
           th:text="|${messages.getEmail()} with roles: ADMIN|">
        </a>
        <div class="nav ml-auto">
            <a th:href="@{/logout}" method="post">Logout</a>
        </div>
    </nav>
</header>
<!--<div class="container">-->
    <div class="row vh-100">
        <div class="col-2">
            <nav class="nav nav-pills flex-column">
            <!--    <a class="nav-link active" href="/admin">Admin</a>-->
            <a class="nav-link" href="/admin">Admin</a>
            <a class="nav-link" href="/user">User</a>
            <!--    <a class="nav-link disabled" href="#">Disabled</a>-->
        </nav>
        </div>
<!--<div class="p-3-->
<!--        <div class="p-3 mb-2 bg-secondary text-white">-->

        <div class="col-10 bg-light px-md-5">

<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-sm">-->

<!--                    </div>-->
<!--                </div>-->

                <div th:switch="${users}">
                    <h2 th:case="null">No users found!</h2>
                    <div th:case="*">
                        <div class="row">
                            <div class="col-lg">
                                <h2>Admin panel</h2>
<!--        <a class="nav-link" href="/admin/create" >add-new-user</a>-->
<!--        <a th:href="@{/admin/create}" class="btn btn-primary btn-sm mt-2">New User</a>-->
<!--        <a class="nav-link" role="tab" th:href="@{/admin}">user tabl</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link active in" href="#newuser" role="tab" data-toggle="tab">new user</a>-->
<!--        </li>-->
                                <nav>
                                    <div class="nav nav-tabs" id="myTab" role="tablist">
                                        <a class="nav-item nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab">new userr</a>
                                        <a class="nav-item nav-link active" href="#admin_panel" role="tab" data-toggle="tab">admin panel</a>
                                    </div>
                                </nav>

                                <div class="tab-content">
                                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="pl-3 pt-1 d-flex border-bottom">
                                            <h4>add new user</h4></div>
                                            <div class="container-fluid border border-gray-500 bg-white">
                                            <form th:action="@{/admin/create}" method="post">

                                                <div class="row justify-content-center">
                                                <div class="form-group">
                                                    <div class="text-center">Username</div>
<!--                                                        <div class="col-12">-->
                                                    <input type="text" name="username"   class="form-control" placeholder="Enter Username"/>
<!--                                                        </div>-->
                                                </div>
                                                </div>

                                                <div class="row justify-content-center">
                                                <div class="form-group">
                                                    <div class="text-center">Password</div>
                                                    <!--    <div class="col">-->
                                                    <input type="text"  name="password"  class="form-control" placeholder="Enter Password"/>
                                                    <!--    </div>-->
                                                </div>
                                                </div>

                                                <div class="row justify-content-center">
                                                <div class="form-group">
                                                    <div class="col-sm-6 container text-center">Email</div>
                                                    <!--    <div class="col-sm-auto">-->
                                                    <input type="text" name="email" class="form-control" placeholder="Enter Email"/>
                                                    <!--    </div>-->
                                                </div>
                                                </div>

                                                    <div class="col text-center">Role</div>
<!--                                                    <select name="roles" class="form-control form-control-sm" multiple required>-->
<!--                                                        <option th:each="role : ${roleList}" th:value="${role}" th:text="${role.getNoPrefix()}"></option>-->
<!--                                                    </select>-->
                                                <div class="row justify-content-center">
                                                    <div class="col-3">
                                                    <select multiple class="form-control" size="2" th:name="roles" th:id="role">
                                                        <option value="">no role</option>
                                                        <option th:each="rol:${roleList}"
                                                                th:value="${rol.role}"
                                                                th:text="${rol.getNoPrefix()}">
<!--                                                                th:selected="${user.roles.contains(rol)}">-->
                                                        </option>
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                <div class="col-sm-12 container text-center">
                                                    <button type="submit" class="btn btn-primary mt-3">Create User</button>
                                                </div>
                                                </div>

                                            </form>
                                        </div>
                                        </div>
<!--        </div>-->
<!--        <nav class="navbar sticky-top navbar-light bg-light">-->
<!--            <div class="container-fluid">-->
<!--                <a class="navbar-brand" href="#">User List</a>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</div>-->
<!--                                <div class="tab-content">-->
                                    <div class="tab-pane fade show active border" id="admin_panel" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="pl-3 pt-1 d-flex border-bottom"><h5>All users</h5></div>
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>user name</th>
                                                <th>password</th>
                                                <th>email</th>
                                                <th>roles</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${users}">
                                                <!--                    <h1 th:text="${user}"></h1>-->
                                                <td th:text="${user.getId()}"></td>
                                                <td th:text="${user.getUsername()}"></td>
                                                <td th:text="${user.password}"></td>
                                                <td th:text="${user.email}"></td>
                                                <!--                <td th:text="${user.roles}"></td>-->
                                                <td>
                                                    <!--                    <ul>-->
                                                    <th:block th:each="msg : ${user.getRoles()}">
                                                        <li th:text="${msg.getNoPrefix()}"></li>
                                                    </th:block>
                                                    <!--                    </ul>-->
                                                </td>
                                                <td>
                                                    <button class="btn btn-info" th:href="${'#edit'+user.id}" data-toggle="modal">edit</button>
                                                </td>
                                                <td><button class="btn btn-danger" data-toggle="modal" th:href="${'#delete'+user.id}">delete</button></td>

                                                <div class="modal fade" th:id="${'edit'+user.id}" tabindex="-1">                                                                <!--                         role="dialog" aria-labelledby="exampleModalLabel"-->
<!--                                             aria-hidden="true">-->
                                                    <form th:action="@{/admin/update}" method="POST">
                                                        <--                        class="form-signin mx-auto font-weight-bold text-center">-->
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content justify-content-center">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="exampleModalLabel2">edit user</h4>
                                                                    <button class="close" data-dismiss="modal">x</button>
                                                                </div>
                                                                <div class="modal-body">

                                                                    <div class="form-group">
                                                                        <label for="username" class="col text-center"><b>username</b></label>
                                                                        <input type="text" class="form-control" name="username" id="username"
                                                                               th:value="${user.username}">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <div class="col-sm-6 container text-center">ID</div>
                                                                        <input readonly type="number" class="form-control" th:name="id" id="id"
                                                                               th:value="${user.id}">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <div class="col-sm-6 container text-center">Email</div>
                                                                        <!--    <div class="col-sm-auto">-->
                                                                        <input type="text" th:name="email" class="form-control"
                                                                               th:value="${user.email}">
                                                                        <!--    </div>-->
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <div class="col text-center">Password</div>
                                                                        <!--    <div class="col">-->
                                                                        <input type="text" th:name="password" class="form-control"
                                                                               th:value="${user.password}">
                                                                        <!--    </div>-->
                                                                    </div>
                                                                    <!-- <div class="form-group">-->
           <!--                          <div class="col-sm-auto container text-center">Roles</div>-->
          <!--                               <input type="text" name="roleList" th:name="rolelist" class="form-control"-->
      <!--                                         th:each="rol : ${user.roles}"-->
         <!--                                      th:value="${rol.getNoPrefix()}">-->
         <!--                                </input>-->
           <!--                     </div>-->
                                                                    <div class="form-group">
                                                                        <label for="ef">riol</label>
                                                                        <select name="rol" multiple class="form-control" id="ef">
                                                                            <option selected value="0">withaut a role</option>
                                                                            <option value="1">ROLE_USER</option>
                                                                            <option th:value="ROLE_ADMIN">ROLE_ADMIN</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="form-group" >
                                                                        <div class="col text-center">Role</div>
                                                                        <select multiple class="form-control" size="2" th:name="roles" th:id="role">
                                                                            <option value="">no role</option>
                                                                            <option th:each="rol:${roleList}"
                                                                                    th:value="${rol.role}"
                                                                                    th:text="${rol.getNoPrefix()}"
                                                                                    th:selected="${user.roles.contains(rol)}">
                                                                            </option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-primary">save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="modal fade" th:id="'delete'+${user.id}" tabindex="-1">
                                                    <form th:action="@{admin/delete/{id}(id=${user.id})}" method="get">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content justify-content-center">
                                                                <div class="modal-header text-center">
                                                                    <h4 class="modal-title text-center">delete user</h4>
                                                                    <button class="close" data-dismiss="modal">x</button>
                                                                </div>
                                                                <div class="modal-body">

                                                                    <div class="form-group">
                                                                        <div class="text-center">ID</div>
                                                                        <!--    <div class="col-sm-auto">-->
                                                                        <div type="text" name="id" th:text="${user.id}" th:field="*{user.id}"
                                                                             class="form-control" placeholder="Enter Username"/>
                                                                        <!--    </div>-->
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <div class="text-center">Username</div>
                                                                        <!--    <div class="col-sm-auto">-->
                                                                        <div type="text" name="firstName" th:text="${user.username}"
                                                                             th:field="*{user.username}"  class="form-control" placeholder="Enter Username"/>
                                                                        <!--    </div>-->
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <div class="text-center">Password</div>
                                                                        <!--    <div class="col">-->
                                                                        <input type="text" name="password"  th:name="password"  class="form-control"
                                                                               th:value="${user.password}" >
                                                                        <!--    </div>-->
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <div class="col-sm-6 container text-center">Email</div>
                                                                        <!--    <div class="col-sm-auto">-->
                                                                        <div th:text="${user.email}" type="text" th:field="*{user.email}" name="email"
                                                                             class="form-control" placeholder="Enter Email"/>
                                                                        <!--    </div>-->
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <div class="col-sm-auto container text-center">Roles</div>
                                                                        <input class="col sm-auto text-center" name="roleList"
                                                                               th:each="rol : ${user.roles}"
                                                                               th:value="${rol.getNoPrefix()}"
                                                                        />
                                                                    </div>

                                                                <div class="modal-footer">
                                                                    <!--                            <button class="close" data-dismiss="modal">x</button>-->
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="submit"  class="btn btn-primary">remove</button>
                                                                    <!--                                <a th:href="@{admin/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>-->
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
<!--                                <p><a href="admin/create">Create user</a></p>-->
<!--                                <form th:action="@{/admin/create}" method="get">-->
<!--                                    <input type="submit" value="Create user"/>-->
<!--                                </form>-->
<!--                                <form th:action="@{/logout}" method="post">-->
<!--                                    <input type="submit" value="Sign Out"/>-->
<!--                                </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>